<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <!-- <link rel="stylesheet" href="static/css/style.css"> -->
    <link rel="stylesheet" href=".hello.css">
    <title>Home</title>
</head>
<body>
    <h1>Home Page</h1>
    <img src="photo/bays.jpg" alt="">
    <!-- <img src="images/bays.jpg" alt=""> -->
    <!-- <img src="static/images/bays.jpg" alt=""> -->
    <!-- <script src="js/script.js"></script> -->
</body>
</html>