<%- include('./partials/header.ejs') %>
<div class="container mt-5">
    <h1 class="text-white">About Us</h1>
    <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo hic odio explicabo sint quos totam adipisci cumque molestias optio voluptates pariatur, vitae nam iure voluptatum. Minus recusandae non iure doloremque necessitatibus velit nam nemo id quasi reprehenderit porro nihil quidem sint deserunt rerum, beatae voluptates placeat, eaque perspiciatis blanditiis. Magnam dolore alias illum nesciunt ea voluptate doloremque rem, quasi aperiam doloribus dignissimos itaque veritatis voluptatum deserunt earum nobis excepturi adipisci exercitationem? Possimus rerum explicabo obcaecati, architecto natus ducimus aut soluta vero, commodi, fuga vel quos sapiente corporis odit laudantium. Animi, fugiat eos nisi eius quae id minima rem sapiente labore!</p>
    <p class="text-white">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed dignissimos in natus! Eaque dolore, id deleniti impedit vitae veniam itaque ratione. Facilis at aliquam eaque reprehenderit provident hic optio dolores!</p>
</div>
<%- include('./partials/footer.ejs') %>